<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://download.affectiva.com/js/3.2/affdex.js"></script>
    <script type="text/javascript" src="/static/home.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/site.css?v=1">
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
<body>

  <!-- <img alt="Brand" src="../static/pngs/background.png"> -->
         <!-- <p style="
    font-size: 15px;
    color: white;
    "><i>breaking boundaries, forming foundations</i></p>
         -->


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1>Basis</h1>
<!--         <img class="basis-header" alt="Basis Header" src="../static/pngs/logo.png">
 -->      </div>


      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">

          <form id='home'>
            <input type="text" name="email" placeholder="email">

            <br><input type="password" name="password" placeholder="password">
        
          </form>

            <button type="button" class="btn login" id="login"><a href="/dashboard">Log In</a></button>

            <p class="links"><br>
              <a href='/pwreset.html'>Forgot Password</a>  |  <a href='/profile.html'>Register</a>
            </p>

        </div>
    </div>
  </div>
</body>

</html>