<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Basis Tutorial</title>
    <link rel="stylesheet" href="static/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
   <!-- <link href="https://fonts.googleapis.com/css?family=Yantramanav:100" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>

<body>
<div id="section_wrap" style="text-align:center; max-width:700px; margin:auto; margin-top:100px; font-family:'Open Sans';">
<h1>Welcome Back to Basis!</h1>
<h2>Question of the Day:</h2>
<p style="font-size:25px;">Do you believe that women are generally less skilled at math and science than men?</p>
<form>
	<input type="radio" name="level" value="strongly disagree"> strongly disagree
	<input type="radio" name="level" value="disagree"> disagree
	<input type="radio" name="level" value="neutral" checked> neutral
	<input type="radio" name="level" value="agree"> agree
	<input type="radio" name="level" value="strongly agree"> strongly agree
</form>
<div id="submit" onclick="window.location.href='#'" class="buttonStyle" style="margin-top:20px; margin-left:auto; margin-right:auto;">Submit</div>
<div id="submit" onclick="window.location.href='/tutorial'" class="buttonStyle" style="margin-top:20px; margin-left:auto; margin-right:auto; width=500px;">Tutorial</div>
</div>

</body>
